body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #181725;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 0;
}

input:focus {
  outline: none;
}

input[type="text"] {
  background-color: #201f2f;
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
  color: #6b7986;
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  background-image: url("/images/search.png");
  background-repeat: no-repeat;
  background-size: auto 50%;
  background-position: 1rem 50%;
}

input[type="text"]:focus {
  background-color: #e6e6e6;
  color: #201f2f;
}

.radius {
  border-radius: 0.5rem;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__form {
  flex-grow: 1;
}

.movie {
  display: flex;
  color: #fefefe;
  margin-bottom: 0.5rem;
}

.movie__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #201f2f;
  overflow: hidden;
}